@import "./flex-box";
@import "./spacing";
@import "./reused";
@import "./animations";
@import "./colors";
@import "./vars";

button:disabled {
  background-color: #ededed !important;
  cursor: not-allowed;
  // color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  // border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.flex {
  display: flex;
  &-c {
    display: flex;
    flex-direction: column;
  }
}

label {
  color: white;
}

.news-feed {
  &-header,
  &-footer {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
  }
  &-body {
  }
  // ,
  // &-footer
}

.nor-btn {
  // display: flex;
  background-color: transparent;
}
