@import "../../../styles/index.scss";

.inner-footer {
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  &-copry-right{
    font-weight: bold;
  }
}
