@import "../../../styles/index.scss";

.inner-header {
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $yellow_1;
  background-color: black;
  &-title,
  &-email {
    background: transparent;
    outline: none;
    border: none;
  }
  &-left{

  }
  &-right{
    display: flex;
    flex-direction: row;
  }
  &-create-post{
    margin-right: 2rem;
  }

}
