<div class="create-post-body">
  <div class="create-post-body-left">
    <form
      [formGroup]="postForm"
      (ngSubmit)="onFormSubmit()"
      class="create-post-body-left-form"
    >
      <mat-form-field class="example-form-field" appearance="fill">
        <label>Title</label>
        <input formControlName="title" title="title" matInput />
      </mat-form-field>

      <div class="NgxEditor__Wrapper create-post-body-story-input">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          formControlName="html"
          [disabled]="false"
          placeholder="Tell us your story!"
        ></ngx-editor>
      </div>

      <div class="create-post-body-left-post">
        <button
          mat-raised-button
          type="submit"
          class="create-post-body-left-post-btn"
        >
          Post
        </button>
      </div>
    </form>
  </div>

  <div class="create-post-body-right">
    <app-image-upload class="h-100"></app-image-upload>
  </div>
</div>
