

.create-post-body {
  // height: calc(100% - 4rem);
  height: 100%;
  color: black;
  display: flex;
  // justify-content: center;
  // align-items: center;
  &-left,
  &-right {
    flex: 1;
    padding: 1.5rem;
    height: 100%;
  }
  &-story-input {
    height: 256px;
  }
  &-left {
    margin-right: 1.5rem;
    &-form{
      label{
        color: black;
      }
      ::ng-deep{
        .mat-form-field-infix{
          border-top: none;
        }
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    // overflow: auto;
    // justify-content: center;
    // align-items: center;
    background: black;
    img {
      max-width: 100%;
    }
    .carousel-caption {
      font-size: 0.75rem;
    }
    &-img {
      object-fit: contain;
      max-width: 100px;
    }
  }
}

@media only screen and (max-width: 1004px) {
  .create-post-body {
    flex-direction: column;
  }
}
