<div class="sign-in">
  {{ signInForm.value|json}}
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onFormSubmit()"
    class="sign-in-form"
  >
    <!-- <label>Email</label>
    <input formControlName="email" title="email" />
    <div class="err-mes">{{ emailErr }}</div>

    <label>Password</label>
    <input formControlName="password" type="password" title="password" />
    <div class="err-mes">{{ passwordErr }}</div>

    <button mat-raised-button type="submit" class="sign-in-btn">Sign in</button>

    <div class="sign-in-footer">
      <button mat-button  type="button">Forgot password</button>

      <button mat-button (click)="signUp()" type="button">Sign up</button>
    </div> -->
    <button mat-button color="primary" (click)="add()" type="button" style="margin-bottom: 0.5rem;">
      Add
    </button>

      <div *ngFor="let item of selectedArr.value; index as idx" class="flex">
          <mat-form-field appearance="fill">
            <mat-label>Testing</mat-label>
            <mat-select [value]="item" (selectionChange)="onChange($event, idx)">
              <div *ngFor="let x of getArr(item)">
                <mat-option [value]="x">{{ x }}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <button
            mat-button
            color="primary"
            (click)="onDelete(idx)"
            type="button"
          >
            X
          </button>
      </div>


  </form>
</div>
