<div class="post">
  <div class="post-left">
    <div class="post-left-header">
      <div class="post-left-header-t-a">
        <div class="post-left-title">{{ title }}</div>
        <div class="post-left-author">- by {{ author }}</div>
      </div>
      <div class="post-left-date">{{ renderTime() }}</div>
    </div>
    <div class="post-left-content">{{ content }}</div>
  </div>

  <div class="post-right">
    <app-carousel-ct
      [images]="images"
      [loading]="images.length === 0"
    ></app-carousel-ct>
  </div>
</div>
